openapi: 3.0.1
info:
  title: FWapi
  description: Public facing API for the ForgottenWorld project.
  termsOfService: http://example.com/terms/
  contact:
    name: Github repo
    url: https://github.com/ForgottenWorld/api/
  license:
    name: AGPL-3.0 License
    url: https://github.com/ForgottenWorld/api/blob/master/LICENSE
  version: "2.2"
servers:
- url: https://fwapi.forgottenworld.it/
tags:
- name: servers
  description: Everything about our Servers
paths:
  /servers:
    get:
      tags:
      - servers
      summary: Get the list of available servers
      operationId: getServers
      responses:
        200:
          description: successful operation
          content: {}
  /server/{name}:
    get:
      tags:
      - servers
      summary: Get server status
      description: For valid response use the names provided by the /servers endpoint
      operationId: getServerStatusByName
      parameters:
      - name: name
        in: path
        description: Name of the server
        required: true
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        404:
          description: Server not found
          content: {}
        503:
          description: Server unavailable (this usually happens when the server is
            down)
          content: {}
components:
  schemas:
    Status:
      type: object
      properties:
        online:
          type: integer
          description: Number of online players
          format: int64
        max:
          type: integer
          description: Maximum number of players
          format: int64
